<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="校园账单"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".ChangePhoneActivity"></activity>
        <activity android:name=".view.NewPwdActivity" />
        <activity android:name=".view.ForgetPwdActivity" />
        <activity android:name=".note.activity.SimpleTextActivity" />
        <activity android:name=".note.activity.alarmActivity" />
        <activity android:name=".note.activity.NoteActivity" />
        <activity android:name=".IconItemActivity" />
        <activity android:name=".AddBillActivity" />
        <activity android:name=".InOrOutDetailActivity" />
        <activity android:name=".FragmentTabHost"

            android:windowSoftInputMode="stateHidden|adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".note.activity.NoteItemActivity"/>
        <activity android:name=".FinacingActivity"/>
        <activity android:name=".BillDetailsActivity" />
        <activity android:name=".IncomeDetailsActivity" />

        <receiver
            android:name=".note.receiver.RepaetingAlarm"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.gcc.alarm" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".note.activity.alarmActivity"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegistActivity" />
        <activity
            android:name=".note.activity.SimpleTextActivity"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".BudgetActivity" />
        <activity android:name=".BillActivity" />
        <activity android:name=".ChangeInfoActvity" />
        <activity android:name=".ChangePwdActivity" />
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" /><!--自带控件所需的权限-->
    </application>

</manifest>